.pai {
    background-color: #121212;
    padding-top: 100px;
}
h1 {
    background: linear-gradient(90deg,rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
}
.foto {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.foto img{
    width: 270px;
    border-radius: 50px;
    border: 2px solid #aaa;
}

.devs {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    margin-top: 10px;
    font-size: 14px;
}

.fim { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    margin-top: 20px;
    padding: 30px;
}

.fim p {
    text-align: center;
    max-width: 750px;
    font-size: 22px;
    color: rgb(214, 214, 214);
}