<header>
    <div class="container">                                                                                                 
        <a routerLink="" class="logo">
            <div class="logo-container">
                <div class="burger">🍔</div>
                <lucide-icon name="code"></lucide-icon>
            </div>
            <h1><app-logomarca></app-logomarca></h1>
        </a>
        <div class="center">
            <nav>
                <ul [class.active]="menuAberto">
                    <li><input type="button" value="Cardápio" routerLink="/cardapio"></li>
                    <li><input type="button" value="Sobre" routerLink="/sobre"></li>
                    <li><input type="button" value="Login" routerLink="/login"></li>
                </ul>
            </nav>
        </div>
        <lucide-icon name="SquareMenu" class="nav-icon" (click)="toggleMenu()" size="28px" color="#f97316"></lucide-icon>
        <div class="user">
            @if (logado) {
                <p (click)="logout()">{{ nomeUsuario }}</p>
                <lucide-icon name="LogOut" color="white" (click)="logout()" title="Sair"></lucide-icon>
            } @else {
                <p>{{ nomeUsuario }}</p>
                <lucide-icon name="LogIn" color="white" routerLink="/login" title="Entrar"></lucide-icon>
            }
        </div>
    </div>
</header>