.cardapio {
    background-color: #111;
    color: #fff;
    padding-bottom: 10px;
}

.container {
    overflow: visible;
}

.titulo-secao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #1a1a1a;
    gap: 0.5rem;
    height: 20vh;
    margin: 75px 0px;
}

.titulo-secao h2 {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 46px;
}

.titulo-secao p {
    color: #aaa;
    font-size: 15px;
}

.cards-section {
    border: 1px solid #ff6021;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: visible;
}

.cards-section h3 {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 34px;
    margin-bottom: 12px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}