:host {
    display: flex;
    flex-direction: column;
}

input {
    background: linear-gradient(90deg, rgba(252, 154, 69, 1) 0%, rgba(253, 59, 29, 1) 100%);
    border: 0;
    border-radius: 10px;
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 700;
    transition: 0.2s;
}

input:hover {
    filter: brightness(0.85);
    transition: transform 0.15s;
}

input:active {
    transform: translateY(2px) scale(0.97);
}